/* styles.css */
body {
    background-color: #008080; 
    color: white;
    text-align: center;
    background-repeat: repeat; /* Repetir la imagen en todas las direcciones */
}

/* titulos */ 
h1 {
    color: white;
    background-color: rgba(256, 256, 256, 0.52);
    margin-left: 60px;
    border-radius: 20px;
    margin-right: 60px;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 2px 4px #000000;
    -webkit-text-stroke: 0.7px black; /* Borde negro de 1 píxel para navegadores WebKit (Safari, Chrome) */
}

h2 {
    color: black;
    font-size: 2em;
}

.error{
    color: white;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

/* Spinner y pantalla de carga*/

/* Spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(51, 51, 51);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-bottom: 20px; /* Espacio para el mensaje */
}

.loading { /* texto de la pantalla de carga */
    font-size: 2.5em;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* textos*/
.question-text, .options-text {
    font-size: 2em;
    color: black;
    font-style: italic; 
}

.info-text{
    font-size: 1em;
    color: black;
}

.final-score {
    font-size: 1.5em;
    color: black;
}

.compare-answer, .report-error, .suggest{
    color: white;
}

/* barra de progreso */

.barra {
    height: 20px;
    width: 70%;
    background-color: #f3f3f3;
    border: 2px black solid;
    padding: 0;
    margin: 0 auto; 
    display: flex; 
}

/* botones */

button {
    background-color: #FFA500; 
    color: rgb(39, 38, 38); 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 150px; /* Establecer un ancho fijo para todos los botones */
    height: 100px; /* Establecer una altura fija para todos los botones */
}

button:hover {
    background-color: #FF4500; 
    color: white;
}

.botonInicio{
    text-align: right;
}

.selected-button {
    background-color: #FF4500;
    color: white;
    /* Agrega cualquier otro estilo que desees para resaltar el botón seleccionado */
}

/* Modals */

.ReactModal__Overlay {
    background-color: transparent !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008080; 

}

.ReactModal__Content {
    background: #2f2f2f !important;
    width: 80%;
    max-width: 800px;
    position: relative !important;
    height: 800px;
    max-height: 80%;
    padding: 0 !important;
    margin: auto !important;
    justify-content: center;
    padding: 0;
    inset: 0 !important;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #2f2f2f;
    margin: 0 auto;

}

.modal-content {
    width: 80%;
    max-width: 900px;
    background-color: #2f2f2f; 
    padding: 20px;
    border-radius: 4px;
    margin: 0 auto; 
}

/* Forms de los modals*/

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #FFA500; 
    color: white; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #FF4500;
    color: white;
}
.options-container, .question-container, .results-container {
    background-color: rgba(256, 256, 256, 0.52);
    padding: 50px;
    border-radius: 5px; 
    margin: 60px; 
    height: 80%;
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
}


.about {
    background-color: rgba(256, 256, 256, 0.52);
    padding: 50px;
    border-radius: 5px; 
    margin: 60px; 
    margin-bottom: 90px !important;
    height: 80%;
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
}
/* Model para ver los resultados especificamente*/

.answer-info {
    display: flex;
    justify-content: space-around; 
}

.answer-item {
    flex: 0.25; 
}

.bi {
    font-size: 24px; 
    margin-left: 10px;
}

/* Preguntas fillInTheBlank*/

.fill {
    width: 100%;
    max-width: 400px;
    height: 50px;
    font-size: 20px; 
}

/* imagenes */

/* ErrorNotImplemented.css */
.error-container {
    text-align: center;
}

.images-cute {
    max-width: 100%;
    height: auto;
}

.content {
    overflow: hidden; /* Clearfix para limpiar el float */
}

.images-cute-right {
    float: right; 
    margin-left: 20px; 
    width: 100%; 
    max-width: 600px; 
    height: auto; 
}

.options-container {
    display: flex;
    justify-content: space-between; /* Divide el contenedor en dos columnas */
}

.options-left {
    width: 60%; /* Ocupa el 50% del ancho del contenedor */
    text-align: center;
    justify-content: center;
}

.options-right {
    width: 50%; /* Ocupa el 50% del ancho del contenedor */
    text-align: center; /* Alinea el contenido a la derecha */
    justify-content: center;
}

.topics-container{
    display: flex;
    flex-wrap: wrap;
}

.topics{
    margin-right: 10px;
    margin-bottom: 10px;
}


/* footer */

footer {
    text-align: center;
    background-color: #5e5952;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    z-index: 999; /* Asegura que el footer esté sobre otros elementos */
}

footer p, footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer p {
    margin-right: 20px;
    margin-top: 5px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer .bi {
    font-size: 24px;
    margin-right: 5px;
    color: white; /* Cambiar el color de los íconos */
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
.botonInicio{
    text-align: center;
}
}

@media screen and (max-width: 768px) {
    .options-container {
        align-items: center; 
        display:inline-block;
        text-align: center; /* Centra el texto */
    }

    .options-right {
        text-align: center; /* Alinea el contenido a la izquierda */
    }

    .question-text, .options-text {
        font-size: 1.5em; 
    }
    .topics-container{
        display: inline-block;
    }

    .topics{
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .images-cute-right, .images-preguntas {
        max-width: 50px; /* Cambia el ancho máximo para dispositivos móviles */
        width: 80px;
        padding: 10px;
    }
}

.images-preguntas{
    max-width: 300px;
}
